<!-- NAVBAR BELOW HERO -->
<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li> 

      <li class="brand">
        <a href="index.html">
          <img src="./images/logo.png" alt="WMHD Logo">
        </a>
      </li>

      <li><a href="https://commerce.cashnet.com/rosehulmanem?CNAME=STUDENT%20ACTV">Store</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeggZD4Busmn-YDP0NbEWqNMB_leOIePlblqkMUsb9WULST9g/viewform">Rental/DJ Requests</a></li>
    </ul>
  </div>
</nav>
